{{ $lang := .Site.Language.Lang }}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ $lang }}" xml:lang="{{ $lang }}">
    <head>
        {{ partial "base/metas.html" . }}

        {{ block "header" . }}
        {{ end }}
    </head>
    <body>
        <div class="app">
            <div class="header">
                {{ partial "base/header.html" . }}
            </div>

            <div class="main-container">
                {{ block "main" . }}
                {{ end }}
            </div>

            <div class="footer">
                {{ partial "base/footer.html" . }}
            </div>
        </div>
    </body>
</html>
