{{ $lang := .Site.Language.Lang }}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ $lang }}" xml:lang="{{ $lang }}">
    <head>{{ partial "base/metas.html" . }}</head>
    <body>
        {{ partial "base/header.html" . }}

        <div class="articles">
        {{ range .Data.Pages }}
            <div class="post">
                {{ partial "summary.html" . }}
            </div>
        {{ end }}
        </div>

        {{ partial "base/footer.html" . }}
    </body>
</html>
