{{ define "main" }}
    <div class="content">
        <div class="post-single">
            <h2 class="post-title">
            {{ .Title }}
            </h2>
            <div class="post-byline">
            {{ partial "internal/tags.html" . }}
                <div class="post-date-time">
                {{ partial "internal/date.html" . }}
                </div>
            </div>
            <div class="post-content">
            {{ if .Params.toc }}
                <div class="toc">
                {{ .TableOfContents }}
                </div>
            {{ end }}

            {{ .Content }}
            </div>
        </div>

        <div class="sidebar">
            {{ partial "internal/related-posts.html" . }}
            {{ partial "internal/linked-files.html" .}}
        </div>
    </div>
{{ end }}