{{ $lang := .Site.Language.Lang }}
{{ $locale := index .Site.Data.locales $lang }}

<div class="menu-lang">
    <label for="menu-toggle">Lang <i class="fa fa-angle-down" aria-hidden="true"></i></label>
    <input type="checkbox" id="menu-toggle"/>
    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement/" id="menu-toggle-list">
        {{ range .Site.Languages }}
        {{ if ne .Lang $lang }}
        <li itemprop="name">
            <a itemprop="url" href="{{ .Lang | absURL}}" title="{{ index $locale.menu.title .Lang }}">
                <span class="flag-icon flag-icon-{{ (index $.Site.Data.locales .Lang).country }}"></span>
                {{- index $locale.menu.toggle .Lang -}}
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
