{{ $lang := .Site.Language.Lang }}
{{ $locale := index .Site.Data.locales $lang }}

<div class="linked-files">
    {{ $files := .Params.downloads }}

    <h2 class="linked-files-title">{{ $locale.downloads.title }}</h2>
    {{ if $files }}
    <ul class="linked-files-list">
        {{ range $files }}
        <li>
            <a href="/downloads/{{ .url }}">
                {{ .title }}
            </a>
        </li>
        {{ end }}
    </ul>
    {{ else }}
        <p class="none">{{ $locale.downloads.none }}</p>
    {{ end }}
</div>
