{{ $lang := .Site.Language.Lang }}
{{ $menus := index .Site.Data.menu $lang }}

<ul class="sidebar-menu" itemscope itemtype="http://www.schema.org/SiteNavigationElement/">
    {{ range sort $menus.main_menu "weight" "asc" }}
    {{ if ne .hide true }}
    <li class="sub-menu" itemprop="name"><a itemprop="url" href="{{ .URL }}" hreflang="{{ $lang }}">{{ .name }}</a>
        <ul class="sub" itemscope itemtype="http://www.schema.org/SiteNavigationElement/">
            {{ range sort .items "weight" "asc" }}
            <li class="{{ if eq .hide true }}hide{{ end }}" itemprop="name">
                <a itemprop="url" href="{{- .URL -}}" hreflang="{{ $lang }}">{{- .name -}}</a>
            </li>
            {{ end }}
        </ul>
    {{ end }}
    {{ end }}
    </li>
</ul>
