{{ $lang := .Site.Language.Lang }}
{{ $l := index .Site.Data.locales $lang }}

<!-- sidebar menu start -->
    <!--
    <ul class="sidebar-menu">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}

        <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
            <a href="{{ .URL | absLangURL }}">{{ .Pre }} {{ .Name }}</a>
        <ul class="sub">
            {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
            {{ end }}
        </ul>
        {{else}}
        <li>
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        {{end}}
        </li>
        {{end}}
    </ul>
    -->
    <!-- sidebar menu end -->
    {{- partial "internal/main-menu.html" . -}}
    {{- partial "internal/search.html" . -}}
    {{- partial "internal/lang-menu.html" . -}}
    {{- partial "internal/breadcrumbs.html" . -}}
</div>
