{{ $lang := .Site.Language.Lang }}
{{ $locale := index .Site.Data.locales $lang }}

<div class="summary">
    <div class="post-header">
        <h2 class="post-title">
            <a href="{{ .Permalink }}">
            {{ .Title }}
            </a>
        </h2>
        <div class="post-summary">
            {{ .Summary | truncate 500 }}
        </div>
    </div>
</div>

<div class="read-more">
    <a href="{{ .RelPermalink }}">{{ $locale.read_more }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>