{{ $lang := .Site.Language.Lang }}
{{ $l := index .Site.Data.locales $lang }}

<!-- sidebar menu start -->
    <ul class="sidebar-menu">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}

        <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
            <a href="{{ .URL | absLangURL }}">{{ .Pre }} {{ .Name }}</a>
        <ul class="sub">
            {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
            {{ end }}
        </ul>
        {{else}}
        <li>
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        {{end}}
        </li>
        {{end}}
    </ul>
    <!-- sidebar menu end -->
    {{ if .Site.Params.search }}
        {{ partial "search.html" . }}
    {{ end }}
    <div class="menu-lang">
        <label for="menu-toggle">Lang <i class="fa fa-angle-down" aria-hidden="true"></i></label>
        <input type="checkbox" id="menu-toggle"/>
        <ul id="menu-toggle-list">
            <li><a href="{{ "cs/" | absURL }}" title="{{ $l.menu.title.cs }}"><span class="flag-icon flag-icon-cz"></span>{{ $l.menu.toggle.cs }}</a></li>
            <li><a href="{{ "de/" | absURL }}" title="{{ $l.menu.title.de }}"><span class="flag-icon flag-icon-de"></span>{{ $l.menu.toggle.de }}</a></li>
            <li><a href="{{ "en/" | absURL }}" title="{{ $l.menu.title.en }}"><span class="flag-icon flag-icon-gb"></span>{{ $l.menu.toggle.en }}</a></li>
            <li><a href="{{ "es/" | absURL }}" title="{{ $l.menu.title.es }}"><span class="flag-icon flag-icon-es"></span>{{ $l.menu.toggle.es }}</a></li>
            <li><a href="{{ "fr/" | absURL }}" title="{{ $l.menu.title.fr }}"><span class="flag-icon flag-icon-fr"></span>{{ $l.menu.toggle.fr }}</a></li>
            <li><a href="{{ "it/" | absURL }}" title="{{ $l.menu.title.it }}"><span class="flag-icon flag-icon-it"></span>{{ $l.menu.toggle.it }}</a></li>
            <li><a href="{{ "ru/" | absURL }}" title="{{ $l.menu.title.ru }}"><span class="flag-icon flag-icon-ru"></span>{{ $l.menu.toggle.ru }}</a></li>
        </ul>
    </div>
    {{ if ne .IsHome true}}
        {{ partial "internal/breadcumbs.html" . }}
    {{ end }}
</div>
