<!-- sidebar menu start -->
    <ul class="sidebar-menu">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}

        <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
            <a href="{{ .URL | absLangURL }}">{{ .Pre }} {{ .Name }}</a>
        <ul class="sub">
            {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
            {{ end }}
        </ul>
        {{else}}
        <li>
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
        {{end}}
        </li>
        {{end}}
    </ul>
    <!-- sidebar menu end -->
    {{ if .Site.Params.search }}
        {{ partial "search.html" . }}
    {{ end }}
    <div class="menu-lang">
        <label for="menu-toggle">Lang <i class="fa fa-angle-down" aria-hidden="true"></i></label>
        <input type="checkbox" id="menu-toggle"/>
        <ul id="menu-toggle-list">
            <li><a href="{{ "cs/" | absURL }}" title="{{ i18n "menu_title_cs" . }}"><span class="flag-icon flag-icon-cz"></span>{{ i18n "menu_toggle_cs" }}</a></li>
            <li><a href="{{ "de/" | absURL }}" title="{{ i18n "menu_title_de" . }}"><span class="flag-icon flag-icon-de"></span>{{ i18n "menu_toggle_de" }}</a></li>
            <li><a href="{{ "en/" | absURL }}" title="{{ i18n "menu_title_en" . }}"><span class="flag-icon flag-icon-gb"></span>{{ i18n "menu_toggle_en" }}</a></li>
            <li><a href="{{ "es/" | absURL }}" title="{{ i18n "menu_title_es" . }}"><span class="flag-icon flag-icon-es"></span>{{ i18n "menu_toggle_es" }}</a></li>
            <li><a href="{{ "fr/" | absURL }}" title="{{ i18n "menu_title_fr" . }}"><span class="flag-icon flag-icon-fr"></span>{{ i18n "menu_toggle_fr" }}</a></li>
            <li><a href="{{ "it/" | absURL }}" title="{{ i18n "menu_title_it" . }}"><span class="flag-icon flag-icon-it"></span>{{ i18n "menu_toggle_it" }}</a></li>
            <li><a href="{{ "ru/" | absURL }}" title="{{ i18n "menu_title_ru" . }}"><span class="flag-icon flag-icon-ru"></span>{{ i18n "menu_toggle_ru" }}</a></li>
        </ul>
    </div>
</div>
