{{ $lang := .Site.Language.Lang }}
{{ $l := index .Site.Data.locales $lang }}

<div class="summary">
    <div class="post-header">
        {{ partial "title-home.html" . }}
        <div class="summary-date-time">
            {{ partial "internal/date.html" . }}
        </div>
        <div class="post-summary">
            {{ .Summary }}
        </div>
    </div>
</div>
{{ if .Truncated }}
<div class="read-more">
    <a href="{{ .RelPermalink }}">{{ $l.read_more }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
</div>
{{ end }}
