<!DOCTYPE html>

{{ $lang := .Site.Language.Lang }}
{{ $locale := index .Site.Data.locales $lang }}

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ .Site.Language.Lang }}" xml:lang="{{ .Site.Language.Lang }}">
    <head itemscope itemtype="http://www.schema.org/WebSite">
    {{ partial "base/metas.html" . }}
    </head>

    <body>
    {{ partial "base/header.html" . }}
    {{ partial "menu.html" . }}

    <div class="articles">
        {{ range .Paginator.Pages.ByDate.Reverse }}
        <div class="post">
            {{ partial "summary.html" . }}
        </div>
        {{ end }}
    </div>

    <div class="navigation">
        {{ partial "internal/pagination.html" . }}
    </div>

    {{ partial "base/footer.html" . }}
    </body>
</html>