{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="nav-pages">
    {{if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" rel="prev" class="prev"><i class="fa fa-angle-double-left" aria-hidden="true"></i>{{ i18n "pagination_prev" . }}</a>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" rel="next" class="next">{{ i18n "pagination_next" . }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    {{ end }}
</nav>
{{ end }}
