{{ $lang := .Site.Language.Lang }}
{{ $l := index .Site.Data.locales $lang }}

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav class="nav-pages">
    {{if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}" rel="prev" class="prev"><i class="fa fa-angle-double-left" aria-hidden="true"></i>{{ $l.pagination.prev }}</a>
    {{ end }}

    {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" rel="next" class="next">{{ $l.pagination.next }}<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    {{ end }}
</nav>
{{ end }}
