<div class="header">
    <div class="navbar">
        <div class="logo">
        {{ partial "base/header/logo.html" . }}
        </div>
        <div class="content-menu">
        {{ partial "base/header/menus.html" . }}
        </div>
        <div class="search-box">
        {{ partial "base/header/search.html" . }}
        </div>
        <div class="lang-switch">
        {{ partial "base/header/lang-switch.html" . }}
        </div>
    </div>

    <div class="breadcrumbs">
    {{ partial "base/header/breadcrumbs.html" . }}
    </div>
</div>